.find-teams-container {
    background-image: url("https://i.imgur.com/aRS15Wq.png");
    background-size: cover;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin: auto;
    text-align: center;
    position: fixed;
    left: 600px;
    top: 180px;
    overflow: auto;
}

.find-a-team {
    font-weight: 200;
    color: white;
    text-shadow: 1px 1px black;
}

.search-form {
    margin-bottom: 30px;
}

.search-results {
    overflow: auto;
}

.team-result {
    background-color: firebrick;
    color: white;
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px black;
    border-radius: 10px;
}

.button-result {
    font-weight: 200;
}

.button-result:hover {
    cursor: pointer;
}