.find-teams-container {
    background-image: url("https://i.imgur.com/aRS15Wq.png");
    background-size: cover;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    margin: auto;
    text-align: center;
    position: fixed;
    left: 600px;
    top: 180px;
    overflow: auto;
}

.find-a-team {
    font-weight: 200;
}

.search-form {
    margin-bottom: 30px;
    background-color: white;
    opacity: 90%;
    width: 450px;
    height: auto;
    position: fixed;
    margin: auto;
    padding-top: 5px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    top: 200px;
    left: 709px;
    margin-bottom: 40px;
}

.search-select {
    margin: auto;
    float: left;
    margin-left: 20px;
    position: relative;
    left: 95px;
    font-weight: 100;
}

.search-select:focus {
    border-color: firebrick;
    border-width: 2px;
    border-radius: 4px;
    outline: 0;
}

.search-option{
    font-weight: 100;
    text-align: center;
}

.search-button{
    background-color: firebrick;
    color: white;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    transition: 0.3s;
    margin: auto;
    text-decoration: none;
}

.search-button:hover {
    cursor: pointer;
    color: firebrick;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: firebrick;
    transition: 0.3s;
}

.search-results {
    overflow: auto;
}

.team-result {
    background-color: white;
    color: black;
    width: 300px;
    padding: 10px;
    margin: auto;
    text-align: center;
    margin-top: 230px;
    margin-bottom: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    border-radius: 4px;
    opacity: 90%;
    font-weight: 200;
}

.button-result {
    background-color: firebrick;
    color: white;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    margin-left: 20px;
    transition: 0.3s;
    margin: auto;
}

.button-result:hover {
    cursor: pointer;
    color: firebrick;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: firebrick;
    transition: 0.3s;
}