.log-in-div {
    background-color: white;
    height: 300px;
    width: 400px;
    position: relative;
    margin: auto;
    box-shadow: 0px 1px 3px lightgray;
    border-radius: 10px;
}

.log-in-form {
    margin: auto;
    position: relative;
    padding: 10px;
    left: 95px;
    top: 30px;
}

.log-in-title {
    text-align: center;
    color: firebrick;
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    font-size: 25px;
}

.log-in-username {
    margin: 10px;
    padding: 10px;
}

.log-in-password {
    margin: 10px;
    padding: 10px;
}

.log-in-button {
    margin: 10px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 36px;
    border-radius: 25px;
    background-color: white;
    border-color: firebrick;
    border-style: solid;
    border-width: 2px;
    color: firebrick;
    font-weight: 200;
    font-style: bold;
    transition-duration: 0.3s;
}

.log-in-button:hover {
    background-color: #ffe7ec;
    transition-duration: 0.3s;
}

.log-in-button:focus {
    outline: 2px solid firebrick;
    outline-style: auto;
}

input:focus{
    outline: 2px solid firebrick;
    outline-style: auto;
}

