ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
}

li {
    display: inline-block;
    padding: 8px 16px;
}

li:hover {
    cursor: pointer;
  }

.navlink {
    text-decoration: none;
    color: #000;
    float: left;
}

.icon-set {
    height: 20px;
    width: 20px;
    transition: width 1s, height 1s, transform 1s;
}

.icon-set:hover{
    transform: rotate(30deg);
}