.profile-container {
    background-color: white;
    padding: 30px;
    width: 500px;
    height: 500px; 
    margin: auto;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    overflow: auto;
}

.profile-pic-container {
    margin: auto;
}


.profile-pic {
    border-radius: 50%;
    height: 200px;
    border-style: solid;
    border-color: white;
    box-shadow: 1px 1px 3px lightgray;
}

.profile-username {
    font-weight: 200;
    position: relative;
    top: -150px;
    left: 230px; 
}

.profile-teams {
    font-weight: 200;
    position: relative;
    top: -150px;
    left: 230px;
}

.email-icon {
    max-height: 20px;
}