.info-div {
    background-image: url("https://i.imgur.com/qHY9Nok.jpeg");
    background-size: cover;
    background-color: white;
    color: white;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    position: fixed;
    left: 200px;
    top: 180px;
    padding: 30px;
    width: 300px;
    height: auto;
    max-height: 250px;
}

.users-div {
    background-color: white;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    position: fixed;
    left: 200px;
    top: 500px;
    padding: 30px;
    width: 300px;
    overflow: scroll;
}

.info-location {
    font-weight: 200;
}

.user-post-container {
    background-color: firebrick;
    color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 30px;
    height: auto;
    opacity: 100;
    transition: 2s ease-in;
}

.team-user-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
}

.team-user-name {
    font-weight: 100;
}