#info-div {
    background-image: url("");
    background-size: cover;
    background-color: white;
    color: white;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    position: fixed;
    left: 200px;
    top: 180px;
    padding: 30px;
    width: 300px;
    height: 250px;
    max-height: 250px;
    overflow: scroll;
}

.users-div {
    background-color: white;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    position: fixed;
    left: 200px;
    top: 500px;
    padding: 30px;
    width: 300px;
    height: 190px;
    overflow: scroll;
}

.info-location {
    font-weight: 200;
}

.user-post-container {
    background-color: firebrick;
    color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 30px;
    height: auto;
    opacity: 100;
    transition: 2s ease-in;
}

.team-user-div {
    margin-top: 30px;
}

.team-user-pic {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: left;
}

.team-user-name {
    font-weight: 100;
    position: relative;
    left: 7px;
    top: 7px;
}

.post-title {
    position: fixed;
    top: 159px;
    background-color: white;
    color: black;
    width: 600px;
    opacity: 80%;
    margin-bottom: 100px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.user-post-img {
    position: relative;
    top: 3px;
}

.team-activity-container {
    margin-top: 70px;
}

.users-div-header {
    font-weight: 200;
    position: fixed;
    background-color: white;
    color: black;
    padding-top: 30px;
    opacity: 80%;
    padding-top: 30px;
    width: 330px;
    top: 480px;
}