.activity-container {
    background-color: white;
    padding: 30px;
    width: 600px;
    height: 500px; 
    margin: auto;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    overflow: auto;
    float: left;
    position: fixed;
    left: 190px;
    top: 180px;
}

.user-post-container{
    background-color: firebrick;
    color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 30px;
    height: auto;
    opacity: 100;
    transition: 2s ease-in;
}

.team-posts-container {
    background-color: white;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    height: 420px;
    position: fixed;
    top: 180px;
    left: 600px;
    overflow: auto;
    padding-top: 130px;
}

.my-activity-feed {
    font-weight: 200;
    position: fixed;
    top: 159px;
    left: 205px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 9px;
    padding-top: 30px;
    width: 635px;
    opacity: 80%;
}

.activity-title {
    font-weight: 200;
    position: fixed;
    top: 159px;
    left: 205px;
    background-color: white;
    margin-bottom: 20px;
    padding-bottom: 9px;
    padding-top: 30px;
    width: 635px;
    opacity: 80%;
}

.post-title {
    font-weight: 200;
}

.post-picture {
    height: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 5px;
}

.post-username {
    position: relative;
    left: 40px;
    top: -47px;
}

.post-content {
    font-weight: 300;
    font-size: 13px;
    position: relative;
    top: -30px;
}

.delete-button-post {
    color: firebrick;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: firebrick;
    border-radius: 4px;
    position: relative;
    left: 520px;
    bottom: 10px;
    font-weight: 200;
    width: 60px;
    height: 25px;
    transition-duration: 0.3s;
}

.delete-button-post:hover {
    cursor: pointer;
    background-color: firebrick;
    font-weight: 100;
    color: white;
    transition-duration: 0.3s;
}