.user-teams-container {
    background-color: white;
    margin: auto;
    width: 400px;
    height: 440px;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    position: fixed;
    overflow: scroll;
    padding-top: 60px;
    left: 160px;
    top: 180px;
}

.user-teams-title {
    font-weight: 300;
    color: black;
    background-color: white;
    position: fixed;
    left: 180px;
    top: 160px;
    width: 350px;
    padding-top: 10px;
}

.team-circle {
    border-radius: 4px;
    height: 125px;
    width: 225px;
    overflow: auto;
    margin: auto;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    transition: 0.3s;
    overflow: hidden
}

.team-background {
    height: 125px;
    width: 225px;
}

.team-name {
    color: #f1f1f1;
    font-weight: 300;
    text-align: center;
    position: relative;
    top: -135px;
    transition: 0.3s;
}

.team-name:hover {
    color: firebrick;
    transition: 0.3s;
}

.team-classification {
    font-weight: 300;
    color: white;
    position: relative;
    top: -145px;
}

.members-circle {
    margin: auto;
    width: auto;
    max-width: 190px;
    position: relative;
    top: -80px;
    overflow: auto;
}

.member-circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgb(43, 43, 43);
    position: relative;
    margin-right: -60px;
    transition: 0.3s;
}

.member-circle:hover {
    height: 40px;
    width: 40px;
    margin-right: -30px;
    margin-left: 2px;
    margin-bottom: -10px;
    transition: 0.3s;
}

.members-list {
    margin: auto;
    position: relative;
    width: 300px;
    list-style-type: none;
    overflow: auto;
}

.member-li {
    display: inline;
    float: left;
}

a {
    text-decoration: none;
}

.create-team-button{
    background-color: firebrick;
    color: white;
    border-radius: 4px;
    border: none;
    width: 120px;
    height: 35px;
    transition: 0.3s;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
}

.create-team-button:hover{
    cursor: pointer;
    color: firebrick;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: firebrick;
    transition: 0.3s;
}