.feed-title {
    position: fixed;
    margin: auto;
    top: 180px;
    background-color: white;
    color: black;
    width: 600px;
    font-weight: 200;
    padding-bottom: 10px;
    padding-top: 30px;
    opacity: 80%;
}

.updates-container::-webkit-scrollbar {
    display: none;
}

.updates-container {
    background-color: white;
    padding: 30px;
    width: 600px;
    height: 500px; 
    margin: auto;
    box-shadow: 1px 1px 3px lightgray;
    border-radius: 10px;
    overflow-y: auto;
    position: relative;
    top: 70px;
}

.activity-post-container {
    background-color: firebrick;
    color: #f1f1f1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    box-shadow: 0 4px 15px rgba(0,0,0,.25);
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 30px;
    height: auto;
    opacity: 100;
    transition: 2s ease-in;
}

.my-activity-feed {
    font-weight: 200;
    position: fixed;
    top: 159px;
    left: 100px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    padding-bottom: 9px;
    padding-top: 30px;
    width: 640px;
    opacity: 80%;
}

.post-picture {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    margin-top: 5px;
}

.post-username {
    position: relative;
    left: 40px;
    top: -47px;
}

.post-content {
    font-weight: 300;
    font-size: 13px;
    position: relative;
    top: -30px;
}