.header {
    background-color: white;
    overflow: hidden;
    min-width: 100%;
    max-height: 102px;
    margin: 0 auto;
    box-shadow: 0px 1px lightgray;
}

.logo {
    padding: 10px;
    max-height: 80px;
    position: relative;
    left: 20px;
    top: 2px;
    transition: 0.5s;
}

.logo:hover {
    transition: 0.5s;
    transform: rotate(-20deg);
}

.log-in {
    position: relative;
    float:right;
    bottom: 160px;
    margin-top: 95px;
    margin-right: 50px;
    color: black;
    font-weight: 300;
    transition-duration: 0.3s;
}

.log-in:hover {
    color: #dc1e42;
    transition-duration: 0.3s;
}

.log-in-lock {
    height: 15px;
    position: fixed;
    right: 105px;
    top: 51px;
}

.log-in-pic {
    height: 40px;
    width: 40px;
    float: right;
    border-radius: 50%;
    position: relative;
    top: -75px;
    margin-right: 20px;
}

.log-in-link {
    text-decoration: none;
}

.nav-bar-div {
    
    margin-right: 50px;
}

.teams-icon{
    position: relative;
    float: right;
    margin-right: 50px;
    top: -68px;
}

.profile-icon{
    position: relative;
    float: right;
    margin-right: 30px;
    top: -68px;
}

.home-icon{
    position: relative;
    float: right;
    margin-right: 30px;
    top: -68px;
}