.sign-up-div {
    background-color: white;
    height: 430px;
    width: 400px;
    position: relative;
    margin: auto;
    box-shadow: 0px 1px 3px lightgray;
    border-radius: 10px;
}

.sign-up-title{
    text-align: center;
    color: firebrick;
    position: relative;
    top: 50px;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    font-size: 25px;
}

.sign-up-form {
    margin: auto;
    position: relative;
    padding: 10px;
    left: 95px;
    top: 30px;
}

.sign-up-username {
    margin: 10px;
    padding: 10px;
    border-color: firebrick;
    border-style: solid;
    border-radius: 4px;
}

.sign-up-email {
    margin: 10px;
    padding: 10px;
    border-color: firebrick;
    border-style: solid;
    border-radius: 4px;
}

.sign-up-picture {
    margin: 10px;
    padding: 10px;
    border-color: firebrick;
    border-style: solid;
    border-radius: 4px;
}

.sign-up-password {
    margin: 10px;
    padding: 10px;
    border-color: firebrick;
    border-style: solid;
    border-radius: 4px;
}

.sign-up-button {
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 120px;
    opacity: 70%;
    cursor: pointer;
    text-align: center;
    position: relative;
    border-radius: 4px;
    background-color: white;
    border-color: firebrick;
    border-style: solid;
    border-width: 2px;
    color: firebrick;
    font-weight: 200;
    transition-duration: 0.3s;
    margin-left: 20px;
    left: 15px;
    top: 15px;
}

.sign-up-button:hover {
    background-color: firebrick;
    color: white;
    transition-duration: 0.3s;
}

.sign-up-button:focus {
    outline: 2px solid firebrick;
    outline-style: auto;
}

input:focus{
    outline: 2px solid firebrick;
    outline-style: auto;
}